@{
	ViewBag.Title = "My Twine Dashboard";
}

<h3>Live streaming from my little Twine</h3>

<script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js" type="text/javascript"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		var twine = $.connection.twine;

		// Declare a function on the chat hub so the server can invoke it          
		twine.client.addMessage = function (message) {
			bootstrap_alert.attention(message, "#alert_placeholder");
		};

		// Start the connection
		$.connection.hub.start();
		
		$("#clear_alerts").click(function () {
			$('#alert_placeholder').empty();
		});
	});
</script>

<div class="row">
	<div class="span5">
		<button class="btn-danger" id="clear_alerts">Clear alerts</button>
		<br/>
		<div id="alert_placeholder">
		</div>
	</div>
	<div class="span7"></div>
</div>





